/.*
*.sln
*.csproj
*.dotsettings
*.DotSettings
*.toml
/Content.*/IoC @sleepyyapril


# Nix
*.nix @DEATHB4DEFEAT @stellar-novas
/flake.lock @DEATHB4DEFEAT @stellar-novas
/.envrc @DEATHB4DEFEAT @stellar-novas


# UI
*.xaml @sleepyyapril @DEATHB4DEFEAT
*.xaml.cs @sleepyyapril @DEATHB4DEFEAT

# Lobby
/Content.Client/Lobby @DEATHB4DEFEAT
/Content.Client/MainMenu @DEATHB4DEFEAT

# Queue
/Content.*/DiscordAuth @DEATHB4DEFEAT
/Content.*/JoinQueue @DEATHB4DEFEAT


# Writing
*.xml @DEATHB4DEFEAT
*.ftl @sleepyyapril
*.md @DEATHB4DEFEAT
*.txt @DEATHB4DEFEAT

# Shaders
*.swsl @DEATHB4DEFEAT
/Resources/Prototypes/Shaders @DEATHB4DEFEAT

# Overlays
/Content.Client/Overlays @DEATHB4DEFEAT

# Paint
/Content.*/Paint @DEATHB4DEFEAT


# Parkstation/etc
**/SimpleStation14 @DEATHB4DEFEAT
**/Parkstation @DEATHB4DEFEAT

# Announcer system
/Content.*/Announcements @DEATHB4DEFEAT
/Content.Server/StationEvents @DEATHB4DEFEAT

# SSD
/Content.*/SSDIndicator @DEATHB4DEFEAT

# Station Goals
/Content.Server/StationGoal @DEATHB4DEFEAT

# Random Bark
/Content.Server/Speech/Components/RandomBarkComponent.cs @DEATHB4DEFEAT
/Content.Server/Speech/Systems/RandomBarkSystem.cs @DEATHB4DEFEAT
/Resources/Locale/en-US/random-barks @DEATHB4DEFEAT

# Punpun
/Content.Server/Punpun @DEATHB4DEFEAT


# Database
/Content.*/Database @sleepyyapril @DEATHB4DEFEAT
/Content.*.Database @sleepyyapril @DEATHB4DEFEAT

# Preferences
/Content.*/Preferences
**/*CVar*/*.cs @sleepyyapril @DEATHB4DEFEAT

# Discord
/Content.*/Discord* @sleepyyapril
