- type: job
  id: Gladiator
  name: job-name-gladiator
  description: job-description-gladiator
  playTimeTracker: JobGladiator
  startingGear: NyanoGladiatorGear
  alwaysUseSpawner: true
  canBeAntag: false
  icon: "JobIconGladiator"
  supervisors: job-supervisors-security
  setPreference: true
#  whitelistRequired: true
  requirements:
    - !type:CharacterDepartmentTimeRequirement
      department: Security
      min: 21600
  special:
  - !type:AddTraitSpecial
    traits:
    - MartialArtist

- type: startingGear
  id: NyanoGladiatorGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitGladiator
    outerClothing: ClothingOuterArmorGladiator
    id: GladiatorPDA
    ears: ClothingHeadsetGrey
  innerClothingSkirt: UniformShortsRedWithTop
  #any other possessions, spawn in cell
